# Modeling Exercises

In [6]:
%matplotlib inline
import numpy as np
import pandas as pd
import wrangle
import matplotlib.pyplot as plt
from sklearn.feature_selection import RFE
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler

import wrangle

We want to be able to predict the property tax assessed values ('taxvaluedollarcnt') of Single Family Properties that had a transaction during 2017.

We have a model already, but we are hoping your insights can help us improve it. I need recommendations on a way to make a better model. Maybe you will create a new feature out of existing ones that works better, try a non-linear regression algorithm, or try to create a different model for each county. Whatever you find that works (or doesn't work) will be useful. Given you have just joined our team, we are excited to see your outside perspective.

One last thing, Zach lost the email that told us where these properties were located. Ugh, Zach :-/. Because property taxes are assessed at the county level, we would like to know what states and counties these are located in.

predict assessed home value for single family properties using regression techniques

In [5]:
wrangle.get_zillow_data()

Reading from csv file...

,parcel_id,bedrooms,bathrooms,square_feet,tax_assessed_value_USD,year_built,tax_amount,fed_code
0,10759547,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,11193347,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,11215747,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
3,11229347,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0
4,11324547,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0
...,...,...,...,...,...,...,...,...
2152859,14356230,4.0,3.0,2262.0,960756.0,2015.0,13494.52,6059.0
2152860,14157725,4.0,4.5,3127.0,536061.0,2014.0,6244.16,6059.0
2152861,14356183,0.0,0.0,NaN,208057.0,NaN,5783.88,6059.0
2152862,14367624,3.0,2.5,1974.0,424353.0,2015.0,5302.70,6059.0
2152863,12385768,4.0,4.0,2110.0,554009.0,2014.0,6761.20,6037.0

# 1.

Select a dataset with a continuous target variable.

# 2.

Be sure your data is prepared (no missing values, numeric datatypes) and split into samples.

# 3.

Work through all of the steps outlined in the lesson, from setting the baseline to selected a model and evaluating the final model on your test data.