# Wrangle Exercises
- For these exercises, you will create wrangle.ipynb and wrangle.py files to hold necessary functions.

In [1]:
# STANDARD LIBRARIES
import os


# THIRD PARTY LIBRARIES
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

# LOCAL LIBRARIES
import env
import wrangle

Let's set up an example scenario as perspective for our regression exercises using the Zillow dataset.

As a Codeup data science graduate, you want to show off your skills to the Zillow data science team in hopes of getting an interview for a position you saw pop up on LinkedIn. You thought it might look impressive to build an end-to-end project in which you use some of their Kaggle data to predict property values using some of their available features; who knows, you might even do some feature engineering to blow them away.

#### Your goal is to predict the values of single unit properties using the obervations from 2017.

In these exercises, you will complete the first step toward the above goal: acquire and prepare the necessary Zillow data from the zillow database in the Codeup database server.

## 1.

## Acquire

Acquire bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, and fips from the zillow database for all 'Single Family Residential' properties.

In [7]:
df = wrangle.get_zillow_data()

Reading from csv file...

In [8]:
df.head()

,bedrooms,bathrooms,square_feet,tax_assessed_value_USD,year_built,tax_amount,fed_code
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
3,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0

## 2.

Using your acquired Zillow data, walk through the summarization and cleaning steps in your wrangle.ipynb file like we did above. You may handle the missing values however you feel is appropriate and meaninful; remember to document your process and decisions using markdown and code commenting where helpful.

## Prepare / Wrangle

### Summarization

In [17]:
# Obtian rows and columns
df.shape

(2152863, 7)

In [19]:
# Obtain Summary Statistics
df.describe().T

,count,mean,std,min,25%,50%,75%,max
bedrooms,2152852.0,3.287196,0.954754,0.00,3.00,3.00,4.00,25.00
bathrooms,2152852.0,2.230688,0.999280,0.00,2.00,2.00,3.00,32.00
square_feet,2144379.0,1862.855178,1222.125124,1.00,1257.00,1623.00,2208.00,952576.00
tax_assessed_value_USD,2152370.0,461896.237963,699676.049600,1.00,188170.25,327671.00,534527.00,98428909.00
year_built,2143526.0,1960.949681,22.162196,1801.00,1949.00,1958.00,1976.00,2016.00
tax_amount,2148421.0,5634.865978,8178.910249,1.85,2534.98,4108.95,6414.32,1337755.86
fed_code,2152863.0,6048.377335,20.433292,6037.00,6037.00,6037.00,6059.00,6111.00

#### Observations:
Make observations, visualize, clean, visualize, repeat

COUNTS
- bedrooom, bathrooms, square_feet, tax_assessed_value_USD, year_built, tax_amount have lower counts (missing values?)


DATA TYPE Observations
- bedrooms and bathrooms appear to be counts
- fed_code appears to be an identifier (min and max, not much spread)
- year_built is related to time
- tax_assessed_value_USD and tax_amount is monetary


STATS Observations: 
- min for square_feet is 1 which could be a data error of some sort
- min for tax_assessed_value_USD is 1 which could be a data error of some sort
- difference between mean and median could indicate skew - 
- standard deviation is larger in square_feet, tax_assessed_value_USD, and tax_amount
    - a lot of spread (could mean it is not a normal distribution), would want to visualize


OTHER Observations to Note if Present (but they are not currently in present data set):
- outliers present where min is significantly different from bottom 25%, or max is significantly different than upper 75%
- min and max suspicious, given data values; could indicate data error, outliers, or mistakes in labeling (incorrect assumptions on our part)
- std deve = 0, means one number

In [20]:
# Obtian data types and non-null counts
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2152863 entries, 0 to 2152862
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   bedrooms                2152852 non-null  float64
 1   bathrooms               2152852 non-null  float64
 2   square_feet             2144379 non-null  float64
 3   tax_assessed_value_USD  2152370 non-null  float64
 4   year_built              2143526 non-null  float64
 5   tax_amount              2148421 non-null  float64
 6   fed_code                2152863 non-null  float64
dtypes: float64(7)
memory usage: 115.0 MB

In [25]:
# Calculate count of nulls for each column
df.isna().sum()

bedrooms                    11
bathrooms                   11
square_feet               8484
tax_assessed_value_USD     493
year_built                9337
tax_amount                4442
fed_code                     0
dtype: int64

In [24]:
# Caculate percentage of nulls in each column to decide whether to drop or impute
df.isna().mean()

bedrooms                  0.000005
bathrooms                 0.000005
square_feet               0.003941
tax_assessed_value_USD    0.000229
year_built                0.004337
tax_amount                0.002063
fed_code                  0.000000
dtype: float64

## 3.

Store all of the necessary functions to automate your process from acquiring the data to returning a cleaned dataframe witn no missing values in your wrangle.py file. Name your final function wrangle_zillow.